.backgroundAbout {
    margin: 0 auto;
    padding: 0;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: absolute;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
    filter: FlipH;
}